@import '../css/variables';
.Header {
  background-color: white !important;
  box-shadow: 0 2px 4px -1px rgb(255, 0, 0),
  0 4px 5px 0 rgba(255, 0, 0, 0.45),
  0 1px 10px 0 rgba(0, 0, 0, 0) !important;
  .app-name {
    user-select: none;
    color: black;
  }
  .nav-actions {
    margin-left: auto;
    .active {
      .nav-action-icon {
        color: black;
      }
      .auth-action {
        color: black;
        font-weight: bold;
      }
    }
    .nav-action-icon {
      color: rgba(0, 0, 0, 0.54);
      &:hover {
        color: black;
      }
    }
  }
  .auth-action {
    &:hover, .active {
      color: black;
      font-weight: 600;
    }
  }
}
